<input type="text" [(ngModel)]="title" name="title" placeholder="Title..."><br>
<textarea [(ngModel)]="content" name="title" placeholder="Content..." cols="30" rows="5"></textarea><br>
<input type="submit" value="Add a post" (click)="addPost()">

<ul *ngFor="let post of posts | async">
  <li (click)="getPost(post.id)">
    <strong>{{ post.data.title }} <a href="#" (click)="deletePost(post.id)">delete</a></strong><br>
    {{ post.data.content }}
  </li>
</ul>

<h1>Post Detail:</h1>

<h3>{{ (post | async)?.title }}</h3>
<p>{{ (post | async)?.content }}</p>
